@charset "UTF-8";

@font-face {
  font-family: 'omnigothic020';
  src: url('./210\ 옴니고딕OTF\ 020.otf');
}
@font-face {
  font-family: 'omnigothic030';
  src: url('./210\ 옴니고딕OTF\ 030.otf');
}
@font-face {
  font-family: 'omnigothic045';
  src: url('./210\ 옴니고딕OTF\ 045.otf');
}
@font-face {
  font-family: 'didimmyungjo010';
  src: url('./210\ 디딤명조OTF\ 010.otf');
}
@font-face {
  font-family: 'didimmyungjo020';
  src: url('./210\ 디딤명조OTF\ 020.otf');
}
@font-face {
  font-family: 'didimmyungjo030';
  src: url('./210\ 디딤명조OTF\ 030.otf');
}
@font-face {
  font-family: 'didimmyungjo040';
  src: url('./210\ 디딤명조OTF\ 040.otf');
}
@font-face {
  font-family: 'didimmyungjo050';
  src: url('./210\ 디딤명조OTF\ 050.otf');
}
